# Node.js modules
node_modules/

# Netlify configuration files
.netlify/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.log
*.swp

# Build output files
dist/
build/

# Editor temporary files
*.suo
*.user
*.sln
*.vspscc
*.scc
*.ncb
*.aps
*.sdf
*.pdb
*.userprefs
*.plg
*.vssscc